
@media (min-width:1024px) and (max-width:1200px){
         /* -- header social media -- */
         .socialMedia ul{
            transform: translate(-10%,-60%);
    
        }

    /* -- address -- */
    .addresses {
        grid-column: 18/ span 80;
    }
    .addresses ul{
        transform: translateY(-32%);
    }
    .item:nth-child(1){
        flex-basis: 45%;
    }
    .item:nth-child(2){
        flex-basis: 58%;
    }
    .item:nth-child(3){
        flex-basis: 65%;
    }



        /* -- lang -- */
        .dividerLang{
            grid-column: 100;
            /* grid-row: 1 */
            margin-left: 20%;

        }
        .lang{
            grid-column: 100;
            transform: translate(0%, -8%);
            margin-left: -20%;
    
        }

        /* -- menu -- */
        .menu{
            margin-top: -1.5%;
    
        }
        .menu ul {
            transform: translate(9%,-11%);
    
        }
        .menu li{
            transform: translateY(6%);
    
        }

       /* -- title -- */
       .title{
        margin-top: -19%;
    }

    /* -- about -- */
    .yearsWork,.successRate,.satisfiedClients{
        font-size:75%;

    }
    .yearsWork span:nth-child(2),.successRate  span:nth-child(2),.satisfiedClients  span:nth-child(2){
        font-size:100%;

    }
 /* -- about -- */
    .aboutCompany{
        transform: translateY(0%);

 }
 .aboutCompany span:nth-child(1){
    /* font-size: 200%; */
    transform: translateY(-10%);


}
    .aboutSlogan{
        font-size: 150%;;
        transform: translateY(-155%);

    }
    .aboutDetails{
        transform: translateY(-75%);


    }
    .aboutPros{
        transform: translateY(-170%);

    }
    .aboutEmergency{
        transform: translate(22%,-170%);

    }
    .aboutEmergency span:nth-child(2){
        font-size: 100%;

    }
    /* footer */








}

/* Typical Devices: Small laptops, lower-resolution desktops  --1024px to 1279px--*/

@media (min-width:1200px) and (max-width:1279px){

     /* -- header social media -- */
     .socialMedia ul{
        transform: translate(0%,50%);

    }

    /* -- address -- */
    .addresses {
        grid-column: 18/ span 80;
    }
    .addresses ul{
        transform: translateY(-32%);
    }
    .item:nth-child(1){
        flex-basis: 45%;
    }
    .item:nth-child(2){
        flex-basis: 58%;
    }
    .item:nth-child(3){
        flex-basis: 65%;
    }


    /* -- lang header -- */
    .dividerLang{
        grid-column: 99;
        transform: translateX(21px);

    }
    .lang{
        grid-column: 100;
        margin-left: -20%;

    }
    .lang li:nth-child(1){
        transform: translateX(0%);

    }
    .lang li:nth-child(2){
        font-size: .7vw;

    }

    /* -- menu -- */
    .menu{
        margin-top: -1.5%;

    }
    .menu ul {
        transform: translate(9%,-11%);

    }
    .menu li{
        transform: translateY(6%);

    }
    .title{
        margin-top: -19%;
    }
    .socialMedia img{
    
        transform: translate(100%,-60%);

    }
    .yearsWork,.successRate,.satisfiedClients{
        font-size:95%;

    }
    .yearsWork span:nth-child(2),.successRate  span:nth-child(2),.satisfiedClients  span:nth-child(2){
        font-size:100%;

    }
    .aboutCompany span:nth-child(1){
        transform: translateY(-10%);


    }
    .aboutSlogan{
        font-size: 150%;;
        transform: translateY(-160%);

    }
    .aboutDetails{
        transform: translateY(-80%);


    }
    .aboutPros{
        transform: translateY(-180%);

    }
    .aboutEmergency{
        transform: translate(22%,-180%);

    }
    .aboutEmergency span:nth-child(2){
        font-size: 100%;

    }
    .portfolioSlogan{
        font-size: 200%;


    }

    .photoShape{
        bottom: 25%;
    }
    .photoShape span:nth-child(1){
        font-size:120%;

    }






}

@media (min-width:1279px) and (max-width:1881px){

    .addresses ul{
        transform: translateY(-32%);
    }




}





/* Typical Devices: Large desktops, high-resolution monitors
 --1280px to infinity-- */

 @media (min-width:1280px) {

    .dividerLang{
        grid-column: 100;
        /* grid-row: 1 */
    }
    .lang{
        grid-column: 100;
        /* transform: translate(0%, -15%); */
        margin-left: -20%;

    }
    .lang li:nth-child(1){
        transform: translateX(0%);

    }

}

/* ------ 1024px - 1280px individual settings ---- */

@media (min-width:1089px) and (max-width:1711px){
     /* -- about -- */
     .aboutCompany{
        transform: translateY(0%);

 }
 .aboutCompany span:nth-child(1){
    /* font-size: 200%; */
    transform: translateY(-11%);


}
    .aboutSlogan{
        font-size: 150%;;
        transform: translateY(-155%);

    }
    .aboutDetails{
        transform: translateY(-45%);


    }
    .aboutPros{
        transform: translateY(-100%);

    }
    .aboutEmergency{
        transform: translate(22%,-100%);

    }


}

@media (min-width:1150px) and (max-width:1711px){
    .aboutPros{
        transform: translateY(-30%);

    }
    .aboutEmergency{
        transform: translate(22%,-30%);

    }


}


/* -- large monitor -- */

@media (min-width:2178px){
    /* addresses */
    .addresses {
        grid-column: 22/ span 76;
    }
/* about */

    .aboutDetails{
        transform: translateY(0%);


    }
    .aboutPros{
        transform: translateY(90%);

    }
    .aboutEmergency{
        transform: translate(22%,99%);

    }



}
/* @media (min-width: 768px) and (max-width: 1023px) { */

 @media (min-width:1800px) and (max-width:2510px){
    @keyframes yearsWorkExAnim{
        0% {
            width: 7.3vw;
        }
    
        100% {
            width: 18vw;
    
        }
    }
    @keyframes successRateAnim{

        0% {
            width: 7.3vw;
        }
    
    
        100% {
            width: 16vw;
    
    
        }
    }
    @keyframes satisfiedClientsAnim{
        0% {
            width: 7.3vw;
    
        }    
    
    
        100% {
            width: 14vw;
    
        }
    }
.menu_textBtn{
    display: none;
}
 }