/* Typical Devices: Large desktops, high-resolution monitors
 --1280px to infinity-- */

@media (min-width:1280px) {
    .addresses ul{
        transform: translate(-3%,-23%);


    }
    .dividerLang{
        grid-column: 100;
        /* grid-row: 1 */
    }
    .lang{
        grid-column: 100;
        /* transform: translate(0%, -15%); */
        margin-left: -20%;

    }
    .lang li:nth-child(1){
        transform: translateX(0%);

    }
    .addresses ul {
        transform: translate(0,-23%);

    }

}

/* Typical Devices: Small laptops, lower-resolution desktops  --1024px to 1279px--*/
@media (min-width:1024px) and (max-width:1279px){
    .addresses{
        grid-column: 20/ span 78;

    }
    .addresses_text{
        font-size: 1.1vw;
    }
    .addresses ul{
        transform: translate(-11%,-23%);


    }
    .dividerLang{
        grid-column: 99;
        /* grid-row: 1 */
        transform: translateX(21px);

    }
    .lang{
        grid-column: 100;
        /* transform: translate(0%, -15%); */
        margin-left: -20%;

    }
    .lang li:nth-child(1){
        transform: translateX(0%);

    }
    .lang li:nth-child(2){
        font-size: 12px;

    }
    .menu{
        margin-top: -1.5%;

    }
    .menu ul {
        transform: translate(9%,-11%);

    }
    .menu li{
        transform: translateY(6%);

    }
    .title{
        margin-top: -19%;
    }
    .socialMedia img{
    
        transform: translate(100%,-60%);

    }
    .yearsWork,.successRate,.satisfiedClients{
        font-size:95%;

    }
    .yearsWork span:nth-child(2),.successRate  span:nth-child(2),.satisfiedClients  span:nth-child(2){
        font-size:100%;

    }
    .aboutCompany span:nth-child(1){
        /* font-size: 200%; */
        transform: translateY(-10%);


    }
    .aboutSlogan{
        font-size: 150%;;
        transform: translateY(-160%);

    }
    .aboutDetails{
        transform: translateY(-80%);


    }
    .aboutPros{
        transform: translateY(-180%);

    }
    .aboutEmergency{
        transform: translate(22%,-180%);

    }
    .aboutEmergency span:nth-child(2){
        font-size: 100%;

    }
    .portfolioSlogan{
        font-size: 200%;


    }

    .photoShape{
        bottom: 25%;
    }
    .photoShape span:nth-child(1){
        font-size:120%;

    }
    .footerSocial{
        transform: translateX(-75%);
    }
    .footerSocial img{
        width:1.7vw;
        
    }
    .footerLang{
        font-size: 90%;


    }
    .myAddress{
        transform: translateX(-25%);
        font-size: 90%;


    }
    .moveUpper{
        right:-24%;
        bottom: 10.7%;
    }
    .moveUpper img{
        width: 15%;

    }
}