@media (min-width:657px) and (max-width:1000px){
    

    .socialMedia{
        /* position:relative; */
        grid-column: 1/ span 100;
        
        transform: translate(0%,0%);
        background-image: url("../en pic/En Tablet - top bg social media and lang.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        width:100%;
        /* height: 12vh; */
    
        z-index: 4;

            /* Center the ul within this div */
        display: flex;
        /* align-items: center;  */
        justify-content: center;
        /* margin-bottom: 80px; */
        padding-bottom: 6%;
    }
    .socialMedia ul{
        display: flex;
        transform: translateY(11%);

        justify-content: center;
        width: 45%;

        

}
.socialMedia img{
    transform: translateY(-10%);

}

.lang{
    grid-column: 87/span 100;
    grid-row: 1;
    /* color: black; */
    display: flex;
    align-items: center;
    transform: translate(0%, -14%);

}
.lang ul{
    flex-direction: row;
    /* color: black; */
    gap:15px;


}
.lang li:nth-child(1){
    font-size: 1.6vw; 
    font-weight: bold;

}


.lang li:nth-child(2) {

    font-size: 1.5vw; 


} 
.lang_text{
    color: black;

}

.bgTopHeader{
    grid-column: 1 /span 100;
    grid-row:2;
    background-color:black;
    /* margin:0;
    padding: 0; */
    z-index:0;
    /* height: 10.5vh; */
    /* transform: translateY(-15px); */
    /* width:100%; */
    /* margin-bottom: 70px; */


}


.addresses {
    grid-column: 1/ span 100;
    grid-row: 2;
    height: 1px;
    z-index: 20;
    /* display: flex; */
    top:-35%;
    height: 4vh;
    padding-bottom: 25px;
    position:sticky;
    transform: translateY(-20px);
    

}

.icon_address  {
    width: 6vw; /* Adjust icon size */

}
.addresses ul {
    display: flex;
    align-items: center;
    align-self: center;

    gap: 2%;
    margin-left: -5%; 
    /* margin-top: .5%; */
    /* margin-right: .5%; */

}
.item {
    /* transform: translateY(); */
    display: flex;
    align-items: center;
    align-self: center;
    gap: 4px;
    margin-bottom: 30px;

}
.addresses_text {
    /* font-family: 'AddressFont', sans-serif; */
    font-size: 1.9vw;
    /* color: white;   */
}
.item:nth-child(1){
    flex-basis: 60%;
}
.item:nth-child(2){
    flex-basis: 00%;
}
.item:nth-child(3){
    flex-basis: 85%;
}

/* ------- logo ------ */
.logo{
    grid-column: 14/ span 10;
    grid-row: 3;
    width:100%;

    z-index: 10;
    display: flex;


}

.logo_photo_class_tabMo{
    display: flex;
    width:14vw;
    height: 25vh;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    background-image: url("../../icon/logo_dark_export.svg");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
    animation: logoAnimation 7s forwards ease-in-out;
    animation-iteration-count: 1; /* Play only once */

}
.hamburger_Menu_tabMo{
    /* grid-column: 48/ span 4; */
    /* grid-row: 3; */
    
    /* display: inline-block; */
    /* display: flex; */
    list-style: none;
    /* position: fixed; */
    border: none; /* Remove the default border */
    padding: 0; /* Remove padding */
    cursor: pointer; /* Display a pointer cursor on hover */
    outline: none; /* Remove outline when focused */
    /* background-color: none; */
    /* background-image: url("../../icon/Humburger Menu.svg"); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 3%;
    height: 10vh;
    /* background-color: rgb(78, 69, 69); */
    /* color:rgb(255, 215, 0); */
    z-index: 100;
    font-size: 5vw;
}

.title_tabMo{

    /* grid-column: 72/ span 15; */
    /* grid-row: 3; */
    font-size: 6vw;
/* -- just for tabMo -- */


font-family: 'davudtech_font', sans-serif; 
color:black;
text-shadow: 
0px 0px 15px rgb(255, 215, 0), /* Top-left outline */
0px 0px 15px rgb(255, 215, 0),  /* Top-right outline */
0px 0px 0px rgb(255, 215, 0),  /* Bottom-left outline */
0px 0px 0px rgb(255, 215, 0);   /* Bottom-right outline */
opacity: 0;

animation: titleAnimation 3s forwards ease-in-out;
animation-iteration-count: 1; /* Play only once */
/* animation-delay: 1s; */

}





/* --- hero part --- */
.hero{
    margin-top: 40%;
    width:100%;



}



.bgImageToAllHero{
    display: flex;
    grid-column: 1/ span 40;
    grid-row: 1/ span 10;
    background-position: center;

    margin-left: -30%;
    padding-left: 35%;
}
.fullScreenTransparent{
    margin-left: -30%;
    padding-left: 35%;
 }




.welcome{
    grid-column: 4/span 20 ;

    grid-row:2;
    margin-top: 20%;
}
.dash{
    font-size: 5vw;
    transform: translateY(-60%);


}
.welcomText{
    font-size: 3vw;


}
.slogan{
    grid-column: 4/span 23 ;
    font-size:5.5vw;
    grid-row:3/span 4;



}
.heroDetails{
    margin-top: 3.5%;
    grid-column: 4/span 20 ;
    grid-row:8/ span 3;
    font-size: 2.5vw;
}
/* ---- portfolio ---- */

.portfolioIntro span:nth-child(2){
    font-size: 2.5vw;
}
.portfolioSlogan{
    font-size: 3.4vw;

}
/* --------- about ---------- */





.aboutImage{
    grid-column: 6/span 25;
    grid-row: 1/span 6;
    margin-bottom: 30px;
        background-size: 100%;
        min-height: 48vh;
    /* width: 98vw; */
    /* min-height: 80vh; */
    background-position: center;

}
.yearsWork span:nth-child(1),.successRate  span:nth-child(1),.satisfiedClients  span:nth-child(1){
    font-size: 2vw;
}

.yearsWork span:nth-child(2),.successRate  span:nth-child(2),.satisfiedClients  span:nth-child(2){
    font-size: 2vw;
}
/* - about animation -  */
@keyframes yearsWorkExAnim{
    0% {
        width: 7.3vw;
    }

    100% {
        width: 37vw;

    }
}
@keyframes successRateAnim{

    0% {
        width: 7.3vw;
    }


    100% {
        width: 35vw;


    }
}
    @keyframes satisfiedClientsAnim{
    0% {
        width: 7.3vw;

    }    


    100% {
        width: 33vw;

    }
}


.aboutCompany{
grid-column: 6/span 25;
grid-row: 7;
}
.aboutCompany span:nth-child(1){

    /* color: rgb(255, 215, 0); */
    transform: translateY(-60%);
    font-size: 4.5vw;
}
.aboutCompany span:nth-child(2){

    /* color: rgb(255, 215, 0); */
    transform: translateY(-20%);
    /* font-size: 3vw; */
}



.aboutSlogan{
    display:flex;
    grid-column: 6/span 25; ;
    grid-row: 8;
    font-size: 4vw;
}

.aboutDetails{
    grid-column: 6/span 25;;
    grid-row: 9;
}

.aboutDetails p{

 
    font-size: 120%;          
}
.aboutPros{
    grid-column: 6/span 15;;
    grid-row: 10; 
    margin-bottom: 30px;
}
.aboutEmergency{
    grid-column: 22/span 12;
    grid-row: 10 ;
}
.aboutEmergency span:nth-child(2){
    /* font-family: AddressFont; */
    font-size: 2.3vw;
}

/* --- product --- */

.productIntro{
    grid-column: 4/ span 35;
    grid-row:1;
}
.productIntro span:nth-child(1){
    transform: translateY(-2px);
 }
 /* .productIntro span:nth-child(2){
    font-size:3vw;
 } */
.productTitle{
    grid-column: 4/ span 35;
    grid-row: 2;
    /* font-size: 4vw; */
    }
    .productDetails{
        grid-column: 4/ span 34;
        grid-row:3;
        font-size: 2.5vw;
    }



    .productsPhotos{
        grid-column: 4/ span 34;
        grid-row:4/span 9;
        display: flex;
        justify-content: center;
        align-items: center;
    /* width: 90%; */
    }

/* ---- footer ---- */
/* .contactText{
    font-size:3vw;
} */
.footerSocial img{
    width:2.5vw;
    
}
.footerLang{
    font-size: 2vw;
}
.myAddress{
    grid-column: 28/span 10;
    font-size: 1.7vw;

}
/* - changing group of titles font sections - */
.aboutCompany span:nth-child(2), .productIntro span:nth-child(2),.contactText
    {
        font-size:3vw;

}
/* - changing group of slogan font sections - */

.aboutSlogan,.productTitle{
    
    font-size:4vw;

}

/* <!-- -- tablet and mobile setting for menu -- --> */
/* Parent container */
/* Parent container */
.title,.hamburger_Menu,.logo{
    opacity:0;
    visibility: hidden;
    display: none;

}


.container_bgMenu_tabMo {
    visibility:visible;
    opacity: 1;
    position: relative;
    grid-column: 1 /span 100;
    grid-row: 3;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    transform: translate(0%,-12%);

    z-index: 15;
    
    height: 24vh; 
    background-image: url("../en pic/En Tablet - bg logo, menu and title.svg");
    background-size: 100%; 
    background-position: center; 
    background-repeat: no-repeat; 


}
/* Each child element taking 1/3 width */
.logo_tabMo, .hamburger_Menu_tabMo, .title_tabMo {
    visibility: visible;
    opacity: 1;
     /* display:flex; */

    flex: 1; /* Ensures each element takes an equal width (1/3) */
    display: flex; /* Center content within each flex child */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    align-self: center;
    transform: translate(0%,0%);
}


/*  */

/* - menu part-  */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.menu{
    position: fixed;
    top: 0;
    left: -60%; /* Initially off-screen to the left */
    width: 20%; /* Adjust width for 1/3 of screen if desired */
    height: 100%;
    background-color: #111;
    color: white;
    padding-top: -20px;
    transition: left 0.3s ease; /* Slide-in transition */
    z-index: 1000;

    /*  mine*/
    background-image: none;

    transform: translate(0,0);


}
.menu ul{
    transform: translate(0,0);
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    /* mine */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: none;
    gap:30px;


}
.menu_textBtn {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    gap:80%;
}
.menu ul li:nth-child(1){
    /* color:white; */
    font-size: 5vw;
    /* background-color: blue;  */
}
.menu_text{
    /* background-color: red; */
    /* font-size: 18px; */
    color: white;
    /* display: block; */
    padding: 15px;
    text-decoration: none;
    font-size: 4vw;
}
.close-btn {
    /* color:white;
    font-size: 5vw;
    background-color: blue;
    visibility: visible; 
    opacity: 1;
    font-size: 440px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute; */
    /* top: 20px; */
    /* right: 20px; */
    /* z-index: 33; */
}

.open-menu-btn {
     /* font-size: 30px; */
    padding: 10px; 
    /* background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;  */
    /* top: 20px;
    left: 20px; */
    /* z-index: 100; */
}
.menu_textBtn{
    display: flex;
}




}

