@media (min-width:657px) and (max-width:1000px){
    

    .socialMedia{
        /* position:relative; */
        grid-column: 1/ span 100;
        
        transform: translate(0%,0%);
        background-image: url("../en pic/En Tablet - top bg social media and lang.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        width:100%;
        height: 12vh;
    
        z-index: 4;

            /* Center the ul within this div */
        display: flex;
        /* align-items: center;  */
        justify-content: center;
    }
    .socialMedia ul{
        display: flex;
        transform: translateY(11%);

        justify-content: center;
        width: 45%;

        

}
.socialMedia img{
    transform: translateY(-10%);

}

.lang{
    grid-column: 87/span 100;
    grid-row: 1;
    /* color: black; */
    display: flex;
    align-items: center;
    transform: translate(0%, -14%);

}
.lang ul{
    flex-direction: row;
    /* color: black; */
    gap:15px;


}
.lang li:nth-child(1){
    font-size: 1.6vw; 
    font-weight: bold;

}


.lang li:nth-child(2) {

    font-size: 1.5vw; 


} 
.lang_text{
    color: black;

}

.bgTopHeader{
    grid-column: 1 /span 100;
    grid-row:2;
    background-color:black;
    margin:0;
    padding: 0;
    z-index:0;
    height: 10.5vh;
    /* transform: translateY(-15px); */
    /* width:100%; */

}


.addresses {
    grid-column: 1/ span 100;
    grid-row: 2;

    z-index: 44;

}

.icon_address  {
    width: 6vw; /* Adjust icon size */

}
.addresses ul {
    gap: 2%;
    margin-left: -4%; 
    margin-top: .5%;
    /* margin-right: .5%; */

}
.item {
    /* transform: translateY(); */

    gap: 6px;
}
.addresses_text {
    /* font-family: 'AddressFont', sans-serif; */
    font-size: 1.9vw;
    /* color: white;   */
}
.item:nth-child(1){
    flex-basis: 60%;
}
.item:nth-child(2){
    flex-basis: 00%;
}
.item:nth-child(3){
    flex-basis: 85%;
}
    .menu{
        position:relative;
        /* visibility: hidden; */
        /* margin-top: -0.3%; */
        grid-column: 1/span 100;
        grid-row:3;
        background-image: url("../en pic/En Tablet - bg logo, menu and title.svg");
        width: 100%;
        /* background-size: 100%; */
        height: 70hv;
        background-position: center;
        background-repeat: no-repeat; 
        /* width: 100%; */
        /* transform: translate(0%,-11.5%); */
        /* z-index: 5; */
    }
    .menu ul {
        visibility: hidden;
    }
/* ------- logo ------ */
.logo{
    grid-column: 20/ span 10;
    grid-row: 3;
    width:100%;
    /* margin-bottom: 15%; */
    /* background-color: tomato; */
    z-index: 10;
    display: flex;
    justify-content: center;
    transform: translate(0%,-16%);

}
.logo_photo_class{
    display: flex;
    justify-content: center;
    /* background-color: tomato; */
    /* opacity: 1; */
    /* transform: translate(0%,16%); */
    width:14vw;
    height: 25vh;

    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    background-image: url("../../icon/logo_dark_export.svg");
    /* background-size:cover; */
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;

    animation: logoAnimation 7s forwards ease-in-out;
    animation-iteration-count: 1; /* Play only once */

}
.humburger_Menu{
    grid-column: 48/ span 4;
    grid-row: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: -22%; */
    transform: translateY(50%);
    visibility: show;
    opacity: 1;

    background-image: url("../../icon/Humburger Menu.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 190%;
    height: 10vh;
    /* background-color: red; */
    z-index: 100;
}

.title{
    grid-column: 75/ span 15;
    grid-row: 3;
    display: flex;
    align-items: center;
    font-size: 3.8vw;
    transform: translateY(-7%);


}

/* --- hero part --- */
.hero{
    margin-top: 45%;
    width:100%;



}
.bgImageToAllHero{
    display: flex;
    grid-column: 1/ span 4;
    grid-row: 1/ span 10;
    width: 20%;

    margin-left: -30%;
    padding-left: 35%;



}

.fullScreenTransparent {

    margin-left:-30% ;
    padding-left: 35%;

}



.welcome{
    grid-column: 4/span 20 ;

    grid-row:2;
}
.dash{
    font-size: 5vw;
    transform: translateY(-60%);


}
.welcomText{
    font-size: 2.5vw;


}
.slogan{
    grid-column: 4/span 23 ;
    font-size:4.5vw;
    grid-row:3/span 10;



}
.heroDetails{
    margin-top: 3.5%;
    grid-column: 4/span 20 ;
    grid-row:6/ span 3;
    font-size: 2.5vw;
}
/* --------- about ---------- */
.aboutImage{
    grid-column: 6/span 25;
    grid-row: 1/span 6;
}
.aboutCompany{
grid-column: 6/span 25;
grid-row: 7;
}
.aboutCompany span:nth-child(1){

    /* color: rgb(255, 215, 0); */
    transform: translateY(-60%);
    font-size: 5vw;
}
.aboutCompany span:nth-child(2){

    /* color: rgb(255, 215, 0); */
    transform: translateY(-20%);
    font-size: 3.8vw;
}



.aboutSlogan{
    display:flex;
    grid-column: 6/span 25; ;
    grid-row: 8;
}

.aboutDetails{
    grid-column: 6/span 25;;
    grid-row: 9;
}

.aboutDetails p{

 
    font-size: 120%;          
}
.aboutPros{
    grid-column: 6/span 15;;
    grid-row: 10; 
    margin-bottom: 30px;
}
.aboutEmergency{
    grid-column: 22/span 12;
    grid-row: 10 ;
}
.aboutEmergency span:nth-child(2){
    /* font-family: AddressFont; */
    font-size: 2.3vw;
}

}

