.fullScreen {
    position: fixed;
    top: 6%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../../image/hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -10;
}
/* <div class="full-screen_transparent"></div> */
.fullScreenTransparent {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color:  black;
    opacity: 0.7;
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    z-index: -1;
}

/* @media screen and (min-width:30em){ */
@font-face {
    font-family: 'normal_font';
    src: url('../en font/Kanit-Regular.woff2') format('woff2'), /* Modern browsers */
            url('../en font/Kanit-Regular.woff') format('woff'),   /* Older browsers */
            url('../en font/Kanit-Regular.ttf') format('truetype'); /* Fallback */
    font-weight: normal;
    font-style: normal;
    }

a{
    color:white;
    text-decoration: none;
}
body{
    /* background-image: url('../../image/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: calc(50% + 0px) calc(50% + 80px);    background-color: black;
    background-attachment: fixed; */
}

/* ===============topHeader============== */
.header {
    display: grid;
    /* "sM sM  adr adr adr lang"
    ". logo menuTxt menuTxt titleDT ."
    "heroS heroS heroS heroS heroS heroS"; */
    /* header
    8fr 2fr 3fr - 7.8fr -39.2fr 8.13 -24.33fr- 5.16fr -2.5fr
    
        "sM sM sM sM  adr adr adr adr lang"
        ". . . logo menuTxt menuTxt menuTxt titleDT ."
        "heroS heroS heroS heroS heroS heroS heroS heroS heroS";

    hero
    8fr - 2fr - 3fr 7.8fr 39.2fr - 8.13 24.33fr 5.16fr 2.5fr */

    /* ". dash wel wel wel . . . ."
    ".  slog slog slog slog . . . ."
    ". detai detai detai detai  . . . ."  */


    /* grid-template-columns: 13fr 7.8fr 47.33fr 24.33fr 5.16fr 2.5fr; */

    
    /* grid-template-columns: 0.78fr 0.47fr 2.84fr 1.42fr 0.31fr 0.15fr; */




    grid-template-columns: 8fr 2fr 3fr 7.8fr 39.2fr 8.13fr 24.33fr 5.16fr 2.5fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "sM sM sM sM  adr adr adr adr lang"
    ". . . logo menuTxt menuTxt menuTxt titleDT test"
    ". dash wel wel wel . . . ."
    ". slog slog slog slog slog . . ."
    ". detai detai detai detai . . . .";



    width: 100%; 
    /* Ensure full width to align areas */
    /* background-color: brown; */
    gap:0;


}

/* ================hero section=========== */
/* .heroSec{
    grid-area: heroS;
     grid-template-columns: 8fr 2fr 50fr 40fr;
     grid-template-rows: 10fr 40fr 30fr 20fr;
     grid-template-areas: 
     ". dash wel ."
     ". slog slog ."
     ". detai detai ." ;   
    } */

    .dash{
        grid-area: dash;
        color: rgb(255, 215, 0);
    }
    .welcom{
    grid-area: wel;
    font-family: 'normal_font', sans-serif;
    color: rgb(255, 215, 0);
    
    font-size: 25px;
    }
    @font-face {
        font-family: 'sloganFont';
        src: url('../en font/ZenDots-Regular.woff2') format('woff2'),
             url('../en font/ZenDots-Regular.woff') format('woff'),
             url('../en font/ZenDots-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    .slogan ,.sloganSpecial{
        grid-area:slog;
        font-family: 'sloganFont', sans-serif;
        color: white;

        font-size:80px;
    
    }
    .sloganSpecial{
        grid-area: slog;
        color: rgb(255, 215, 0);

    }
    .heroDetails{
        grid-area:detai ;
        font-family: 'normal_font', sans-serif;
        color:white;
        
        font-size: 100%;
    }
/* ======================================= */

.socialMedia{
    position:relative;

    grid-area:sM;
    transform: translate(-3%,-12px);
    background-image: url("../en pic/En laptop social media bg - FFD700 laptop.svg");
    background-repeat: no-repeat;
    background-color: black;
    /* background-size: 100%;  */
    width: 128.5%;
    /* height: 100px; */
    /* order:2; */
    z-index: 0;

    

}
    .socialMedia ul{
        /* width: 60%; */
        flex-wrap: wrap;
        display: flex;
        gap:11%;

    }
    .socialMedia li{
        /* list-style-type: none; */
        display: flex;
        /* background: tomato; */
        flex:0 1 2%;

    }  
    .socialMedia img{
        width:240%;

        transform: translate(180%,90%);

        /* padding: 35% 0px 0px 88%; */
    }
    .addresses {
        grid-area: adr;
        background-color: black;
        background-size: 240%;
        background-position:0% -50%;
        width: 100%;
        order: 1;
        z-index: -1;
        height: -20px;
        /* color: white; */
    }
    
    .addresses ul {
        display: flex;
        flex-direction: row;
        gap: 10px; /* Adjust space between each item as needed */
        /*  padding: 0; */
        margin-left: 90px; 
        transform: translate(0%,-51%);
        background-color: black;

    }
    
    .item {
        display: flex;
        align-items: center;
        gap: 5px; /* Adjust space between icon and text as needed */
    }
    
    .icon_address img {
        width: 85px; /* Adjust icon size */
    }
    
    .addresses_text {
        font-family: 'AddressFont', sans-serif;
        font-size: 160%;
        color: white;
    }
    
    @font-face {
        font-family: 'AddressFont';
        src: url('../en font/FugazOne-Regular.woff2') format('woff2'),
             url('../en font/FugazOne-Regular.woff') format('woff'),
             url('../en font/FugazOne-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    
/* language part */
    .lang{
        grid-area:lang;
        width: 100%; 
         transform: translate(5%, -5%);
        background-color: black;
    }
    .lang ul{
        gap:5px;
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: space-between;
        background-color: black;


    }



    @font-face {
        font-family: 'normal_bold_font';
        src: url('../en font/Kanit-SemiBold.woff2') format('woff2'), /* Modern browsers */
                url('../en font/Kanit-SemiBold.woff') format('woff'),   /* Older browsers */
                url('../en font/Kanit-SemiBold.ttf') format('truetype'); /* Fallback */
        font-weight: normal;
        font-style: normal;
        }

    .lang li:nth-child(1){
        transform: translateX(-45%);
        font-family: 'normal_bold_font', sans-serif;
        color: white;
        font-size: 15px;  
        /* background-color: brown; */

    }


    .lang li:nth-child(2) {
        

        font-family: 'normal_font', sans-serif;
        color: white;
        
        font-size: 12px;
        /* background-color: purple; */
    } 



  /* =======Second Header========= */

/* logo */
.logo{
    grid-area:logo;
    width:100%;
    /* background-color: tomato; */
    z-index: 10;

}

.logo img{
    /* background-color: tomato; */
    transform: translate(7%,-17%);
    width:160%;
    /* height: 230px; */
    /* flex:1,1,15%; */
}

/* menu yellow bg as well */
.menu{
    position:relative;
    grid-area:menuTxt;
    background-image: url("../en pic/En laptop bg logo,menu and title.svg");
    background-repeat: no-repeat; 
    width: 122%;
    /* background-size: 85%; */
    transform: translate(-5%,-12%);
    /* background-color: brown; */
}

@font-face {
    font-family: 'menu_font';
    src: url('../en font/BeauRivage-Regular.woff2') format('woff2'), /* Modern browsers */
            url('../en font/BeauRivage-Regular.woff') format('woff'),   /* Older browsers */
            url('../en font/BeauRivage-Regular.ttf') format('truetype'); /* Fallback */
    font-weight: normal;
    font-style: normal;
    }
/* gray menu bg */
.menu ul {
background-image: url("../en pic/En laptop menu bg.svg");
background-repeat: no-repeat;
background-size: 55%;
gap:1.6%;
display: flex;
flex-direction: row;
justify-content: stretch;
flex-wrap: wrap;

width:110%;
height:130px;
transform: translate(9.5%,-9%);

/* background-color: blue; */
}
.menu li{
    transform: translate(-29%,9%);
    display: flex;
    /* gap:22px; */

    /* flex:0 1 11%; */
}
.menu_text{
    /* flex:1 1 10%; */
    /* gap:22px; */


    font-family: 'menu_font', sans-serif; 
    color:white;
    font-size: 260%;
}

@font-face {
    font-family: 'davudtech_font';
    src: url('../en font/AntonSC-Regular.woff2') format('woff2'), /* Modern browsers */
            url('../en font/AntonSC-Regular.woff') format('woff'),   /* Older browsers */
            url('../en font/AntonSC-Regular.ttf') format('truetype'); /* Fallback */
    font-weight: normal;
    font-style: normal;
    }
    /* davudtech title */
.title{
    grid-area:titleDT;
    /* flex:1,1,25%; */
    /* background-color: aqua; */
    font-family: 'davudtech_font', sans-serif; 
    color:black;
    align-items: center;
    transform: translate(-51%,-13%);

    font-size: 200%;
}
