
 


/* ===============topHeader============== */
.header {
    display: grid;
    grid-template-columns: 8fr 2fr 3fr 7.8fr 39.2fr 8.13fr 24.33fr 5.16fr 2.5fr;
    overflow-x: hidden;
    grid-template-rows: auto;
    grid-template-areas: 
    "sM sM sM sM  adr adr adr adr lang"
    ". . . logo menuTxt menuTxt menuTxt titleDT test"
    ". dash wel wel wel . . . ."
    ". slog slog slog slog slog . . ."
    ". detai detai detai detai . . . .";
    width: 100%; 
    z-index: -2;
}
/* except language black bg for top header except lang */
.bgTopHeader{
    grid-column: 5 /span 9;
    grid-row:1;
    background-color:black;

    z-index:0;
    transform: translateY(-15px);
    width:100%;

}

/* ======================================= */
/* ------social Media---------- */
.socialMedia{
    position:relative;

    grid-area:sM;
    transform: translate(-1%,-4px);
    background-image: url("../en pic/En laptop social media bg - FFD700 laptop.svg");
    background-repeat: no-repeat;
    /* background-color: black; */
    background-size: 100%; 
    width: 118.5%;
    /* height: 100px; */
    /* order:2; */
    z-index: 4;

    

}
    .socialMedia ul{
        /* width: 60%; */
        flex-wrap: wrap;
        display: flex;
        gap:11%;

    }
    .socialMedia li{
        display: flex;
        /* background: tomato; */
        flex:0 1 2%;

    }  
    .socialMedia img{
        width:240%;

        transform: translate(180%,90%);

    }


    /* ---- addresses phone , email address---- */
    .addresses {
        grid-area: adr;
        width: 100%;
        order: 1;
        z-index: 3;
        height: -20px;
    }
    
    .addresses ul {
        display: flex;
        flex-direction: row;
        gap: 10px; /* Adjust space between each item as needed */
        /*  padding: 0; */
        margin-left: 90px; 
        transform: translate(-3%,-23%);
        /* background-color: black; */

    }
    
    .item {
        display: flex;
        align-items: center;
        gap: 5px; /* Adjust space between icon and text as needed */
        /* background-color: tomato; */
    }
    .icon_address  {
        width: 85px; /* Adjust icon size */

    }

    .addresses_text {
        font-family: 'AddressFont', sans-serif;
        font-size: 160%;
        color: white;  
    }
    .item:nth-child(1){
        margin-right: 2%;
    }

    .item:nth-child(2){
        margin-right: 2%;
    }
    

    

    /* ------- language part -------- */

    .dividerLang{
    grid-column: 9;
    grid-row: 1;
    font-family:normal_font2_100 ;
    color: rgb(69, 70, 70);
    font-size:40px;
    /* background-color: blue; */
    z-index: 1;

}
    .lang{
        grid-area:lang;
        width: 100%; 
         transform: translate(-20%, -15%);
        /* background-color: black; */
        z-index: 2;
    }
    .lang ul{
        gap:5px;
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: space-between;
        /* background-color: black; */


    }

    .lang li:nth-child(1){
        transform: translateX(-45%);
        font-family: 'normal_bold_font', sans-serif;
        color: white;
        font-size: 15px;  
        /* background-color: brown; */

    }


    .lang li:nth-child(2) {
        
        font-family: 'normal_font', sans-serif;
        color: white;
        font-size: 12px;
        /* background-color: purple; */
    } 



  /* =======Second line of Header========= */

/* ------- logo ------ */
.logo{
    grid-area:logo;
    width:100%;
    /* background-color: tomato; */
    
    z-index: 10;

}

.logo img{
    /* background-color: tomato; */
    transform: translate(0%,-18%);
    width:160%;
    /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); */
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));

    /* height: 230px; */
    /* flex:1,1,15%; */
}

/* ------- menu -------- */
/* menu yellow bg as well */
.menu{
    position:relative;
    /* grid-area:menuTxt; */
    grid-column: 4/span5;
    grid-row:2;
    background-image: url("../en pic/En laptop bg logo,menu and title.svg");
    background-repeat: no-repeat; 
    width: 87%;
    /* background-size: 85%; */
    transform: translate(5%,-11.5%);
    /* background-color: brown; */
    z-index: 5;
    /* overflow: hidden; */
}


/* gray menu bg */
.menu ul {
grid-column:4/span3;
background-image: url("../en pic/En laptop menu bg.svg");
background-repeat: no-repeat;
background-size: 55%;
gap:1.6%;
display: flex;
/* flex-direction: row; */
/* flex-wrap: wrap; */

width:110%;
height:130px;
transform: translate(8%,-9%);
/* background-color: aqua; */
z-index: 20;

}
.menu li{
    transform: translate(-29%,9%);
    display: flex;
    /* gap:22px; */

    /* flex:0 1 11%; */
    z-index: 10;
}
.menu_text{
    /* flex:1 1 10%; */
    /* gap:22px; */


    font-family: 'menu_font', sans-serif; 
    color:white;
    font-size: 260%;
    /* margin-left: 1%; */
}
.ElectroMTxt {
    margin-left: 1%;
}

.learningsTxt, .resumeTxt{
    margin-left: -1%;
}

    /* ------ davudtech title ------- */

.title{
    grid-area:titleDT;
    /* background-color: aqua; */
    font-family: 'davudtech_font', sans-serif; 
    color:black;
    align-items: center;
    transform: translate(-51%,-13%);
    font-size: 200%;
    z-index: 5;
    text-shadow: 
    0px 0px 15px rgb(255, 215, 0), /* Top-left outline */
    0px 0px 15px rgb(255, 215, 0),  /* Top-right outline */
    0px 0px 0px rgb(255, 215, 0),  /* Bottom-left outline */
    0px 0px 0px rgb(255, 215, 0);   /* Bottom-right outline */
}
