

.bgImageToAllHero {
    /* grid-column: 1/span8;  */
    position: relative;

    top: 0%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../../image/hero.png');
    background-size: cover;
    background-position: 0% 45.5%;
    background-repeat: no-repeat;
    /* background-color: rgb(222, 25, 25); */
    z-index: -2;
}


.fullScreenTransparent {
    position: fixed;
    /* grid-column: 1/span9; */
    /* grid-row: auto; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.7;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -10;
}


/* ================hero section=========== */
    .hero{
        margin-top: 1%;
        position: relative;
        display: grid;
        grid-template-columns: repeat(40,1fr);
        grid-template-rows: auto;
        width:100%;
        

    }

    .welcome{
        grid-column: 4/span 15 ;
        grid-row:1;
        display: flex;
        flex-direction: row;

        }
    
    .dash{

        color: rgb(255, 215, 0);
        transform: translateY(-30px);
        font-size: 50px;
        /* background-color: aqua; */
        z-index: 2;

    }
    .welcomText{
    font-family: 'normal_font_bold', sans-serif;
    color: rgb(255, 215, 0);
    margin-left: 10px;
    font-size: 200%;
    z-index: 2;
    }

    .slogan {
        margin-top: 3.5%;
        grid-column: 4/span 20 ;
        grid-row:5;

        font-family: 'sloganFont', sans-serif;
        color: white;

        font-size:450%;
        z-index: 2;

    }
    .sloganSpecial{
        /* grid-area: slog; */
        color: rgb(255, 215, 0);
        z-index: 1;

    }
    .heroDetails{
        margin-top: 3.5%;
        grid-column: 4/span 20 ;
        grid-row:6;
        font-family: 'normal_font', sans-serif;
        color:white;
        margin-top: 7%;
        margin-bottom: 5%;
        font-size: 150%;
        text-align: justify;            
        z-index: 1;

    }
.firstDivider{
    position: relative;
    /* background-position: 0% 0%; */
    background-image: url("../en pic/En_laptop first divider.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height:47.4%;
    z-index: -2;
}

/* --------- about ---------- */
.about{
    /* position: relative; */


    display: grid;
    grid-template-columns: repeat(20,1fr);
    overflow-x: hidden;
    grid-template-rows: 10;
    width: 100%; 
    z-index: -2; 
}
 .aboutImage{
    grid-column: 3/span 7;
    grid-row: 1/span 10;
    width: 120%;
    height: 100vh;
    background-image: url('../../image/about.png');
    background-size: 100%;
    background-repeat: no-repeat;
 }

.aboutCompany{
    color: white;
    display:flex;
    grid-column: 13/span 4;
    grid-row: 2;
    text-shadow: 
    0px 0px 15px black, /* Top-left outline */
    0px 0px 15px black,  /* Top-right outline */
    0px 0px 0px black,  /* Bottom-left outline */
    0px 0px 0px black;   /* Bottom-right outline */
}

 .aboutCompany span:nth-child(1){

    color: rgb(255, 215, 0);
    transform: translateY(-30px);
    font-size: 50px;

}
.aboutCompany span:nth-child(2){
    
    margin-left: 5%;
    font-family: 'normal_font_bold', sans-serif;
    color: rgb(255, 215, 0);
    font-size: 200%;
    z-index: 1;
}

.aboutSlogan{
    display:flex;
    grid-column: 13/span 7 ;
    grid-row: 3;
    color: white;
    font-family:sloganFont ;
    font-size: 230%;;
    /* text-align: justify; */
    text-shadow: 
    0px 0px 5px black, /* Top-left outline */
    0px 0px 5px black,  /* Top-right outline */
    0px 0px 0px black,  /* Bottom-left outline */
    0px 0px 0px black;   /* Bottom-right outline */

}

.aboutTitleColor {
    color: rgb(255, 215, 0);
    text-shadow: 
    0px 0px 15px black, /* Top-left outline */
    0px 0px 15px black,  /* Top-right outline */
    0px 0px 0px black,  /* Bottom-left outline */
    0px 0px 0px black;   /* Bottom-right outline */

}


.aboutDetails{
    grid-column: 13/span 6;
    grid-row: 4;
    margin-top: 7%;
    font-family: 'normal_font', sans-serif;
    color:white;
    display: flex;
    text-shadow: 
    0px 0px 2px black, /* Top-left outline */
    0px 0px 2px black,  /* Top-right outline */
    0px 0px 0px black,  /* Bottom-left outline */
    0px 0px 0px black;   /* Bottom-right outline */

}
.aboutDetails p{

    width: 100%;
    text-align: justify;  
    font-size: 100%;          
}

.aboutPros{
    grid-column: 13/span 6;
    grid-row: 6; 
    display:flex;
    flex-direction: column;
    gap:9%;
    font-family: 'normal_font', sans-serif;
    color:white;
    text-shadow: 
    0px 0px 2px black, /* Top-left outline */
    0px 0px 2px black,  /* Top-right outline */
    0px 0px 0px black,  /* Bottom-left outline */
    0px 0px 0px black;   /* Bottom-right outline */

}
.aboutIcon{
    width: 15px;
}
.aboutExperties{

    align-items: center;
    gap:5px;

}



.aboutAccurate{
    display: flex;
    align-items: center;
    gap:5px;
}

.aboutQuality{
    display: flex;
    align-items: center;
    gap:5px;
}


.aboutEmergency{
    grid-column: 16/span 6;
    grid-row: 6 ;
    display: flex;
    flex-direction: column;
    color:white;
    font-family: 'normal_font', sans-serif;
    gap:9%;
    text-shadow: 
    0px 0px 2px black, /* Top-left outline */
    0px 0px 2px black,  /* Top-right outline */
    0px 0px 0px black,  /* Bottom-left outline */
    0px 0px 0px black;   /* Bottom-right outline */
}


.aboutEmergency span:nth-child(2){
    font-family: AddressFont;
    font-size: 170%;

}
.aboutIcon2ndCol{
    width: 3%;

}

.secondDivider{
    position: relative;
    background-position: 0% 0%;
    background-image: url("../en pic/En laptop second divider.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height:47.4%;
    z-index: 5;
}

 /* ------/ portfolio ------ */