/* @media screen and (min-width:30em){ */
a{
    color:white;
    text-decoration: none;
}
body{
    background-color: black;
}

/* ===============topHeader============== */
.header{
    /* background: black; */
    /* display:flex; */

}
.topHeader{
    position: relative;
    display:flex;
    background: black;
    z-index: 2;
    /* height: 80px; */
    /* padding: 90% 0% -30px 0%; */
    /* margin-bottom: 30px; */
    /* transform: translateY(-3px); */
    /* height: 50px; */
    /* margin: */
/* overflow: hidden; */
    
}

.socialMedia{
    transform: translate(-3%,-3px);
    background-image: url("../en pic/En laptop social media bg - FFD700 laptop.svg");
    background-repeat: no-repeat;
    /* background-color: blue; */
    background-size: 101%; 
    width: 33%;
    /* height: 100px; */
    

}
    .socialMedia ul{
        /* width: 60%; */
        flex-wrap: wrap;
        display: flex;
        gap:13%;

    }
    .socialMedia li{
        /* list-style-type: none; */
        display: flex;
        /* background: tomato; */
        flex:0 1 2%;

    }  
    .socialMedia img{
        width:280%;
        /* height: 100px; */
        /* margin-left:34%; */
        transform: translate(140%,70%);

        /* padding: 35% 0px 0px 88%; */
    }
.addresses{

     display: flex;
    /* background-color: brown; */
    width: 100%;
    height: 50px;

}
  
    .addresses img{
        width:86px;
    }

    .addresses ul{
        gap:1%;
        display: flex;
        flex-wrap: wrap; 
        /* justify-content: space-between; */
        /* background: pink; */
        width: 380%;
    }

    .addresses li{
        transform: translate(-3% ,-20px);
        /* flex-wrap: wrap; */
        /* gap:1%; */
        display: flex;
        align-items: center;
        /* background: green; */
    }

    .addresses li:nth-child(1){
        /* flex:1 0 35%; */
    }
    .addresses li:nth-child(2){
        /* flex:1 0 47%; */
    }
    .addresses li:nth-child(3){
        /* flex:1 0 47%; */
    }

   
    @font-face {
        font-family: 'AddressFont';
        src: url('../en font/FugazOne-Regular.woff2') format('woff2'), /* Modern browsers */
                url('../en font/FugazOne-Regular.woff') format('woff'),   /* Older browsers */
                url('../en font/FugazOne-Regular.ttf') format('truetype'); /* Fallback */
        font-weight: normal;
        font-style: normal;
        }

    .addresses_text span{
        font-family: 'AddressFont', sans-serif;
        font-size: 150%;
    }
/* language part */
    .lang{
        transform: translate(5%, -5%);
        /* background-color: green; */
    }
    .lang ul{
        gap:5px;
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: space-between;

    }



    @font-face {
        font-family: 'bold_language';
        src: url('../en font/Kanit-SemiBold.woff2') format('woff2'), /* Modern browsers */
                url('../en font/Kanit-SemiBold.woff') format('woff'),   /* Older browsers */
                url('../en font/Kanit-SemiBold.ttf') format('truetype'); /* Fallback */
        font-weight: normal;
        font-style: normal;
        }

    .lang li:nth-child(1){
        transform: translateX(-45%);
        font-family: 'bold_language', sans-serif;
        color: white;
        font-size: 15px;  
        /* background-color: brown; */

    }
    @font-face {
        font-family: 'normal_language';
        src: url('../en font/Kanit-Regular.woff2') format('woff2'), /* Modern browsers */
                url('../en font/Kanit-Regular.woff') format('woff'),   /* Older browsers */
                url('../en font/Kanit-Regular.ttf') format('truetype'); /* Fallback */
        font-weight: normal;
        font-style: normal;
        }

    .lang li:nth-child(2) {
        

        font-family: 'normal_language', sans-serif;
        color: white;
        
        font-size: 12px;
        /* background-color: purple; */
    } 



  /* =======Second Header========= */
.secondHeaderBg{
    position: relative;
    display: flex;
    justify-content: space-between;
    background-image: url("../en pic/En laptop bg logo,menu and title.svg");
    background-repeat: no-repeat;   
    /* background-color: aqua; */
    width:80%;
    padding: 0% 0% 7% 0%;
    height: 100; 
    transform: translate(17%,-10%);
    z-index: 1;
}
.secondHeader{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* background-image: url("../en pic/En laptop bg logo,menu and title.svg");
    background-repeat: no-repeat;    */
    /* background-color: aqua; */
    width:80%;
    padding: 0% 0% 7% 0%;
    height: 100; 
    transform: translate(17%,-40%);
    z-index: 3;

}

.logo{
    /* background-image: url("../en pic/En logo laptop and bg.svg");
    background-repeat: no-repeat; */
    background-size: 100%;
    /* background-color: tomato;  */
    transform: translate(-4%,-9%);
    width:13%;
    height: 230px;
    flex:1,1,15%;
    /* padding: 0% 0% 22% 0%; */
    /* z-index: 4; */

}

.logo img{
    /* background-color: tomato; */
    transform: translate(-8%,-3%);
    width:110%;
    height: 230px;
    flex:1,1,15%;
}

.menu{
    background-image: url("../en pic/En laptop menu bg.svg");
    background-repeat: no-repeat;
    /* background-color: violet;  */
    background-size: 100%;

    width:60%;
    height: 222px;
    transform: translate(-10%,3%);
    flex:1,1,60%;


}

@font-face {
    font-family: 'menu_font';
    src: url('../en font/BeauRivage-Regular.woff2') format('woff2'), /* Modern browsers */
            url('../en font/BeauRivage-Regular.woff') format('woff'),   /* Older browsers */
            url('../en font/BeauRivage-Regular.ttf') format('truetype'); /* Fallback */
    font-weight: normal;
    font-style: normal;
    }

.menu ul {
gap:1.7%;
display: flex;
/* list-style: none; */
/* justify-content: space-around; */
transform: translate(-2%,-13%);
flex-wrap: wrap;
/* background-color: blue; */
}
.menu li{
    display: flex;
    /* gap:22px; */

    /* flex:0 1 40%; */
}
.menu_text{
    /* flex:1 1 10%; */
    /* gap:22px; */


    font-family: 'menu_font', sans-serif; 
    color:white;
    font-size: 280%;
}

@font-face {
    font-family: 'davudtech_font';
    src: url('../en font/AntonSC-Regular.woff2') format('woff2'), /* Modern browsers */
            url('../en font/AntonSC-Regular.woff') format('woff'),   /* Older browsers */
            url('../en font/AntonSC-Regular.ttf') format('truetype'); /* Fallback */
    font-weight: normal;
    font-style: normal;
    }
.title{
    flex:1,1,25%;
    /* background-color: aqua; */
    font-family: 'davudtech_font', sans-serif; 
    color:black;
    transform: translate(-35%,1%);

    font-size: 195%;
}
